# Dependencias
node_modules/
client/node_modules/
server/node_modules/

# Variables de entorno
.env
server/.env

# Logs
*.log
server/logs/

# Carpetas de build
client/dist/
client/build/

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
